:root {
  --vt-c-black: #181818;
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

:root {
  --section-gap: 80px;
}

@font-face {
  font-family: "Quicksand";
  src:
    local("Quicksand"),
    url("./fonts/Quicksand-Medium.ttf")
}
@font-face {
  font-family: "BigBlueTermPlus";
  src:
      local("BigBlueTermPlus"),
      url("./fonts/BigBlue_TerminalPlus.ttf")
}

button {
  font-family: "Quicksand Medium", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: "Quicksand", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
